@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ddddf7 #2e2d51;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #2e2d51;
}

*::-webkit-scrollbar-thumb {
  background-color: #ddddf7;
  border-radius: 12px;
  border: 0px solid #afafc3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
