.main {
  @apply border-solid border-2 rounded-xl overflow-hidden;
  width: 75vw;
  height: 80vh;

  & > div {
    display: flex;
    height: 100%;

    /* sidebar */
    & > div:first-of-type {
      @apply flex flex-col bg-[#3d3c61] text-[#ddddf7] h-full overflow-hidden;
      flex: 1;
    }
    /* chat */
    & > div:not(:first-of-type) {
      flex: 2;
    }
  }
}
